*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    padding-bottom: 2px;

}

.logo{
    height: 5rem;
}

table{
    border-collapse: collapse;
}

a:hover{
    border-bottom: 1px solid;
}

.content{
    margin: 0 60px;
}

#head{
    width: 100%;
    background-color: #f2e259;
    text-align: center;
    margin-bottom: 12px;
}

#menu{
    width: 100%;
    margin-bottom: 24px;
}

#auth{
    text-align: right;
}

.items a{
    margin: 12px;
}

.login{
    display: flex;
    gap: 8px;
}

.login input{
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;
}

.adv div{
    margin: 24px 0;
    text-align: center;
}

.main-content{
    display: flex;
    justify-content: space-around;
}

.taxi-image{
    width: 50%;
}

.pricelist{
    text-align: center;
}

.option{
    margin: 24px 0;
}

.option-title{
    font-size: 24px;
    text-align: center;
}

.option-content span{
    margin: 0 24px;
    font-size: 18px;
}

.content-cell{
    vertical-align: initial;
}

.title{
    text-align: center;
    font-size: 24px;
}