@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0 60px;
}

.banner{
    text-align: center;
    background-color: #f2e259;;
}

.logo{
    height: 5rem;
}

menu{
    margin-top: 24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

menu .items{
    display: flex;
    gap: 8px;
}
.items a{
    padding: 8px;
    border-radius: 8px;
}
.items a:hover, .login a:hover{
    background-color: #f2e259;
}

a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    padding-bottom: 2px;
}

.login a, .logout{
    border: 1px solid #b1b1b1;
    padding: 8px;
    border-radius: 8px;
}

.login{
    display: flex;
    gap: 12px;
    align-items: center;
}

.sug_1{
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.taxi-image{
    width: 50%;
}

.basic-button{
    border: 1px solid #b1b1b1;
    padding: 8px;
    border-radius: 8px;
}

.basic-button:hover{
    background-color: #f2e259;
}

.content-wrapper{
    margin-top: 48px;
    gap: 24px;
    display:flex;
}

.content{
    flex: 1;
}

.main-content{
    display:flex;
    gap: 64px;
}

.pricelist{
    text-align: center;
}

.option{
    margin: 24px 0;
}

.option-title{
    font-size: 24px;
    text-align: center;
}

.option-content span{
    margin: 0 24px;
    font-size: 18px;
}
