*{
    margin: 0;
    padding: 0;
}

.outer-block{
    width: 500px;
    height: 400px;
    border: 1px solid;
    text-align: center;
    margin: 100px auto;
}

.first-inner-block{
    border: 1px solid;
    float: left;
    height: 120px;
    width: 120px;
    margin: 100px 30px 0 0;
}

.second-inner-block{
    border: 1px solid;
    float: right;
    height: 100px;
    width: 50px;
    margin: 40px 50px 0 30px;
}