*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 60px;
}

.banner{
    text-align: center;
    background-color: #f2e259;;
}

.logo{
    height: 5rem;
}

menu{
    display:flex;
    justify-content: space-between;
}

menu .items{
    display: flex;
    gap: 8px;
}


a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    padding-bottom: 2px;
}

.login input{
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;
}

.adv div{
    margin: 24px 0;
    text-align: center;
}

.taxi-image{
    width: 50%;
}

.content-wrapper{
    margin-top: 48px;
    gap: 24px;
    display:flex;
}

.main-content{
    display:flex;
    gap: 64px;
}

.pricelist{
    text-align: center;
}

.option{
    margin: 24px 0;
}

.option-title{
    font-size: 24px;
    text-align: center;
}

.option-content span{
    margin: 0 24px;
    font-size: 18px;
}
