*{
    margin: 0;
    padding: 0;
}


.outer-block{
    width: 500px;
    height: 400px;
    border: 1px solid;
    text-align: center;
    margin: 100px auto;
}

.first-inner-block{
    border: 1px solid;
    height: 100px;
    width: 150px;
    top: 0;
}

.second-inner-block{
    border: 1px solid;
    height: 100px;
    width: 150px;
    top: 0;
    right: 0;
}