*{
    margin: 0;
    padding: 0;
}


.outer-block{
    width: 500px;
    height: 400px;
    border: 1px solid;
    text-align: center;
    margin: 100px auto;
	display: flex;
	flex-direction: column;
}

.center-block{
	border: 1px solid;
	width: 120px;
	height: 60px;
	vertical-align: center;
	text-align: center;
	margin: auto;
    margin-top: 35%;
}

.menu{
	display: flex;
	justify-content: space-between;
	height: 100%;
    align-items: flex-end;
}

.m{
	border: 1px solid;
	width: 80px;
	height: 80px;
}