*{
    margin: 0;
    padding: 0;
}

.content{
    margin: 100px 100px;
}

.panel{
    margin: 24px 0;
    display: flex;
}

.main-section, .operators{
    flex: 1;
    display:flex;
    gap: 12px;
    flex-wrap: wrap;
}

.main-section div, .operators div, .operators button{
    cursor: pointer;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: antiquewhite;
    border-radius: 3px;
    transition: 0.5s;
}

.main-section div:hover, .operators button:hover{
    background-color: aqua;
    scale: 1.1;
}

.display{
    margin: 0 20%;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

#reset{
    width: 60px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(163, 163, 163);
    transition: 0.5s;
    cursor: pointer;
}

#reset:hover{
    background-color: rgb(114, 114, 114);
}

.display input{
    width: 100%;
    padding: 12px;
    color: #000000;
    border-radius: 8px;
}

#error{
    display: none;
    color: red;
    font-size: 32px;
}