*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(50, 99, 130);
}

.page-wrapper{
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a:hover{
    border-bottom: 1px solid;
}
.menu{
    padding: 24px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.menu > a{
    margin: 0 8px;
}

.content{
    text-align: center;
    margin: 24px 0;
    height: 100vw;
}

.inline{
    display: inline-block;
    margin: 0 24px;
}

.avatar{
    width: 150px;
    border-radius: 8px;
}

.info{
    font-size: 18px;
    font-weight: bold;
    margin: 24px 0;
    vertical-align: top;
}

.schedule{
    margin: 24px 0;
}

.schedule-table{
    border-radius: 8px;
    margin-top: 24px;
    text-align: center;
    background-color: aqua;
    margin-left: auto;
    width: 75%;
    margin-right: auto;
    padding: 36px;
}

.development-hobbie{
    margin: 48px;
}

.development-hobbie-flex{
    display: flex;
}

.dotnet-image{
    width: 300px;
}

.sport-hobbie{
    margin: 24px;
}

.img-avatar{
    width: 200px;
}

.avatar-cell{
    display: inherit;
}